.crystal-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    padding: 10px;
    background-color: blue;

  }

  body {
    font-family: 'Neucha', cursive;
    background-image: url(../images/background.jpg);
    font-size: 20px;
  }

  li {

    color: beige;
    font-size: 20px;
  }

  h1 {
      text-align: center;
      color: darkred;
  }
  .container {
    margin-top: 10px;
  }

 #results {
   text-align: center;
   color: red;
   font-size: 40px;
   background-color: rgba(20, 3, 39, 0.596)
 }
 #game-score {
  background-color: rgba(138, 14, 240, 0.61);
 }


  