.crystal-image {
    width: auto;
    height: 100px;
    margin-right: 20px;
    padding: 5px;
    display: inline-block;
    background-color: black;

  }

  body {
    font-family: 'Neucha', cursive;
    background-image: url(../images/background.jpg);
  }

  .jumbotron {

    background-color: rgb(70, 8, 16);
  }

  li {
    font-size: 15px;
  }

  .card-header {

    background-color: rgb(68, 68, 151);
    color: whitesmoke;

  }



  h1 {
      text-align: center;
      color: white;
  }
  .container {
    margin-top: 10px;
  }

 #results {
   text-align: center;
   color: red;
   font-size: 40px;
   background-color: rgba(20, 3, 39, 0.596)
 }
 /* #game-score {
  background-color: rgba(138, 14, 240, 0.61);
 } */


  